.wysiwyg-editor {
	font-size: 2rem;
	padding: 10px 0 0;
}

.rdw-editor-main {
	border: #f2f2f2 solid 1px;
	padding: 0 30px;
	min-height: 240px;
}

.rdw-option--color {
	position: absolute;
	z-index: 1;
	margin: 138px 0 0 -62px;
}

.rdw-fontsize-dropdown {
	width: 56px;
}

.rdw-option-wrapper img {
	width: 20px;
}

.rdw-option-wrapper,
.rdw-dropdown-wrapper {
	box-shadow: none;
	border: 2px solid #f2f2f2;
}

.rdw-option-wrapper:hover,
.rdw-dropdown-wrapper:hover {
	box-shadow: none;
	border: 2px solid #2c3f5b;
}

.rdw-option-wrapper:active,
.rdw-dropdown-wrapper:active {
	box-shadow: none;
	border: 2px solid #BFBDBD;
	background-color: #f2f2f2;
}

.rdw-option-active,
.rdw-dropdownactive {
	box-shadow: none;
	border: 2px solid #F8B550;
}


.wysiwyg-editor .rdw-option--color .block-picker {
	background: rgb(255, 255, 255) !important;
	box-shadow: #f2f2f2 0 0 6px 1px !important;
	border-radius: 6px !important;
	position: relative !important;
}

textarea {
	width: 100%;
	display: block;
	margin: 10px 0;
	min-height: 160px;
	padding: 20px;
	box-sizing: border-box;
}