// ***************************************************************************************
// Lemon Milk
// ***************************************************************************************
@font-face {
	font-family: 'Lemon Milk';
	src: url('./assets/fonts/Lemon Milk/Lemon Milk.woff2') format('woff2'),
		url('./assets/fonts/Lemon Milk/Lemon Milk.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

// ***************************************************************************************
// Catamaran
// ***************************************************************************************
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');

// ***************************************************************************************
// Lora
// ***************************************************************************************
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');