// ***************************************************************************************
// Fonts
// ***************************************************************************************
$font-fallback : Arial,
Helvetica,
sans-serif;

$font-main: "Catamaran",
$font-fallback;

$font-logo: "Lemon Milk",
$font-fallback;

$font-publish: "Lora",
Georgia,
Cambria,
"Times New Roman";

$font-monospace: "monospace",
$font-fallback;


// ***************************************************************************************
// Colors
// ***************************************************************************************
$color-blue : #2c3f5b;
$color-black : #222222;
$color-white : white;
$color-gray : #f2f2f2;
$color-gray--light : #fafafa;
$color-yellow : #F8B550;
$color-red: #E87777;

// ***************************************************************************************
// Sizes
// ***************************************************************************************
$max-content: 1200px;
$max-content: 1480px;
$content-padding: 40px;
$header-size: 112px;
$header-size-small: 68px;
$footer-size: 80px;

// ***************************************************************************************
// Times
// ***************************************************************************************
$header-scroll-time: 0.20s;