// ***************************************************************************************
// illustration
// ***************************************************************************************
$illustration-width: 300px;
$illustration-height: 378px;

#illustration {
	width: $illustration-width;
	height: $illustration-height;

	#illustration__frame-bg,
	#illustration__eye,
	#illustration__eye-closed,
	#illustration__nose,
	#illustration__mouth {
		fill: $color-white;
	}

	#illustration__frame-face {
		fill: $color-blue;
	}

	#illustration__frame-border,
	#illustration__frame-hair,
	#illustration__frame-beard,
	#illustration__eyebrow {
		fill: $color-black;
	}

	#illustration__frame-face,
	#illustration__frame-hair,
	#illustration__frame-beard,
	#illustration__eyebrow,
	#illustration__mouth {
		transition: all 0.2s;
	}

	&:active {
		#illustration__frame-face {
			fill: $color-yellow;
		}

		#illustration__frame-hair,
		#illustration__frame-beard,
		#illustration__eyebrow {
			fill: $color-red;
		}

		#illustration__eyebrow {
			y: 66;
		}

		#illustration__mouth {
			y: 282;
			height: 26px;
		}
	}
}

// *** Animations

#illustration__eye-closed {
	opacity: 0;
}

.illustration__wrapper {
	text-align: right;
	width: $illustration-width;
	height: $illustration-height;
	background-color: $color-gray;
}