// ***************************************************************************************
// Logo
// ***************************************************************************************
$logo-border: 8px;
$logo-border-small: 4px;

.logo {
	font-family: $font-logo;
	font-size: 3.4rem;
	letter-spacing: 0.1rem;
	border: $logo-border solid $color-black;
	box-sizing: border-box;
	color: $color-black;
	padding: 4px 12px;
	display: inline-block;
	transition: all $header-scroll-time cubic-bezier(1, -0.02, 0.28, 1.02),
		color 0.75s cubic-bezier(1, -0.02, 0.28, 1.02);
	position: relative;
	opacity: 0;
	backface-visibility: visible;
	animation-name: flipInX;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
	width: auto;
	text-align: center;

	.logo--r,
	.logo--o1,
	.logo--o2,
	.logo--m {
		opacity: 1;
	}

	&:after {
		content: "";
		position: absolute;
		bottom: -$logo-border;
		padding-right: $logo-border;
		left: -$logo-border;
		width: 100%;
		height: 100%;
		border-bottom: $logo-border solid $color-red;
		border-right: $logo-border solid $color-red;
		visibility: hidden;
	}

	&:before {
		content: "";
		position: absolute;
		top: -$logo-border;
		right: -$logo-border;
		padding-left: $logo-border;
		width: 100%;
		height: 100%;
		border-top: $logo-border solid $color-red;
		border-left: $logo-border solid $color-red;
		visibility: hidden;
	}

	&:hover {
		color: $color-red;
		transition: color 0.5s cubic-bezier(1, -0.02, 0.28, 1.02);

		&:before {
			animation: topleft 0.5s ease-in-out forwards;
		}

		&:after {
			animation: bottomright 0.5s ease-in-out forwards;
		}
	}

	&.is-active {
		&:before {
			animation: revtopleft 0.5s ease-in-out forwards;
		}

		&:after {
			animation: revbottomright 0.5s ease-in-out forwards;
		}

		&:before,
		&:after {
			width: 100%;
			height: 100%;
			visibility: visible;
		}
	}


	&.is-temp {

		&:before,
		&:after {
			width: 100%;
			height: 100%;
			visibility: visible;
		}
	}
}

.is-scrolled {
	.logo {

		font-size: 2rem;
		padding: 3px 8px;
		border-width: $logo-border-small;

		&:after {
			bottom: -$logo-border-small;
			padding-right: $logo-border-small;
			left: -$logo-border-small;
			border-bottom-width: $logo-border-small;
			border-right-width: $logo-border-small;
		}

		&:before {
			top: -$logo-border-small;
			right: -$logo-border-small;
			padding-left: $logo-border-small;
			border-top-width: $logo-border-small;
			border-left-width: $logo-border-small;

		}
	}
}