.container—publish {
    max-width: 740px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;

}

.publish-text {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-family: $font-publish;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    line-height: 1.58;
    letter-spacing: -.003em;
}

.publish-code {
    font-family: $font-monospace;
    font-size: 1.55rem;
    background: rgba(0, 0, 0, .05);
    padding: 3px 4px;
    margin: 0 2px;

}

.publish-text .publish-text-drop_cap {
    font-family: inherit;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 66px;
    padding-right: 7px;
    padding-top: 11px;
    --x-height-multiplier: 0.342;
    --baseline-multiplier: 0.22;
    margin-left: -5px;
    margin-right: 7px;
    letter-spacing: -.03em;
    line-height: .83;
    margin-bottom: -.08em;
    display: block;
    position: relative;
    float: left;

}