.thumbnail {
    height: 100%;
    opacity: 0;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin-top: 0;
    transition: margin 0.2s ease-in-out;
    animation: intro .5s ease-in-out forwards;

    &:hover {
        margin-top: -4px;

        .thumbnail__image:after {
            opacity: 1;
        }
    }

    .thumbnail__link {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        //background-color: rgba(0, 0, 0, 0.5);
        align-items: flex-start;
        justify-content: flex-start;
        transition: opacity 0.1s ease-out;
        opacity: 1;
    }

    .thumbnail__image {
        background-color: $color-gray;
        background-size: cover;
        width: 100%;
        height: 14vw;
        background-size: cover;
        background-position: center;
        box-sizing: border-box;
        padding: 0;

        &:after {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            background-color: rgba(0, 0, 0, 0.4);
            transition: opacity 0.2s ease-in-out;
            opacity: 0;
        }
    }

    .thumbnail__title {
        font-family: $font-main;
        color: $color-black;
        font-size: 1.6rem;
        text-decoration: none;
        margin: 6px 0 0;
        letter-spacing: .4px;
    }

    .thumbnail__description {
        font-family: $font-main;
        color: $color-blue;
        font-size: 1.2rem;
        text-decoration: none;
        letter-spacing: .2px;
    }
}

.thumbnail-wrapper--featured {
    .thumbnail {
        position: relative;
        height: 20vw;
        max-height: 300px;

        &:hover {

            .thumbnail__link {
                opacity: 1;
            }
        }
    }

    .thumbnail__link {
        justify-content: flex-end;
        z-index: 2;
        position: relative;

        &::before {
            content: '';
            background-color: rgba(0, 0, 0, 0);
            height: 0;
            width: 100%;
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            transition: all 0.2s ease-in-out;
        }

        &:hover {

            &::before {
                content: '';
                background-color: rgba(0, 0, 0, 0.6);
                height: 100%;
            }

            .thumbnail__title,
            .thumbnail__description {
                opacity: 1;
                margin-bottom: 0;
            }
        }
    }

    .thumbnail__image {
        position: absolute;
        height: 100%;

        &:after {
            content: none;
        }
    }

    .thumbnail__title,
    .thumbnail__description {
        padding: 0 2rem;
        color: $color-white;
        z-index: 2;
        opacity: 0;
        margin-bottom: -4px;
        transition: all 0.4s ease-in-out;
    }

    .thumbnail__title {
        font-size: 1.8rem;
    }

    .thumbnail__description {
        padding-bottom: 1.4rem;
    }
}

.thumbnail:nth-child(1n) {
    animation-delay: .1s
}

.thumbnail:nth-child(2n) {
    animation-delay: .2s
}

.thumbnail:nth-child(3n) {
    animation-delay: .3s
}

.thumbnail:nth-child(4n) {
    animation-delay: .4s
}

.thumbnail:nth-child(5n) {
    animation-delay: .5s
}

.thumbnail:nth-child(6n) {
    animation-delay: .6s
}

.thumbnail:nth-child(7n) {
    animation-delay: .7s
}

.thumbnail:nth-child(8n) {
    animation-delay: .8s
}

.thumbnail:nth-child(9n) {
    animation-delay: .9s
}

.thumbnail:nth-child(10n) {
    animation-delay: 1s
}

.thumbnail:nth-child(11n) {
    animation-delay: 1.1s
}

.thumbnail:nth-child(12n) {
    animation-delay: 1.2s
}

.thumbnail:nth-child(13n) {
    animation-delay: 1.3s
}

.thumbnail:nth-child(14n) {
    animation-delay: 1.4s
}

.thumbnail:nth-child(15n) {
    animation-delay: 1.5s
}

.thumbnail:nth-child(16n) {
    animation-delay: 1.6s
}

.thumbnail:nth-child(17n) {
    animation-delay: 1.7s
}

.thumbnail:nth-child(18n) {
    animation-delay: 1.8s
}