.footer {
    height: $footer-size;
    width: 100%;
    background-color: $color-white;
}

.footer-wrapper {
    text-align: center;
    padding: 20px 0 30px;
    box-sizing: border-box;
}

.footer-text {
    font-family: $font-main;
    font-size: 1.6rem;
    color: $color-black;
}