.header {
    width: 100%;
    height: $header-size;
    top: 0;
    left: 0;
    position: fixed;
    border-bottom: 1px solid $color-gray;
    background-color: $color-white;
    z-index: 10;
    transition: height $header-scroll-time cubic-bezier(1, -0.02, 0.28, 1.02);

    .header-content {
        max-width: $max-content;
        padding: 20px $content-padding;
        box-sizing: border-box;
        margin: 0 auto;
        transition: padding $header-scroll-time cubic-bezier(1, -0.02, 0.28, 1.02);
    }
}

.is-scrolled .header {
    height: $header-size-small;

    .header-content {
        padding: 14px $content-padding;
    }
}