.home-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    min-height: 380px;
}

.home-wrapper__illustration {
    flex: 0 0 auto;
    padding-right: 40px;
}

.home-wrapper__text {
    flex: 1 0 auto;

    .title-h1 {
        font-weight: 400;
    }
}

.home-wrapper__text-content {

    .step-1,
    .step-2,
    .step-3,
    .step-4 {
        opacity: 0;
        animation-name: fadeInUp;
        animation-duration: 0.6s;
        animation-fill-mode: forwards;
        display: inline-block;
    }

    .step-1 {
        animation-delay: 0.2s;
    }

    .step-2 {
        animation-delay: 0.4s;
    }

    .step-3 {
        animation-delay: 0.6s;
    }

    .step-4 {
        animation-delay: 0.8s;
    }

}

.home-wrapper {
    opacity: 0;
    animation-name: fadeInUp--small;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}