$document-top-padding: 40px;

html {
    font-size: 62.5%;
    overflow-y: scroll;
    font-family: $font-main;
    color: $color-black;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

html,
body,
#root,
.App>div,
.App {
    height: 100%;
}

.main {
    padding-top: $document-top-padding+$header-size;
    min-height: calc(100% - #{$header-size} - 1px - #{$footer-size} - #{$document-top-padding});
}

section {
    &.section--featured {
        border-bottom: 1px solid $color-gray;
    }
}

.container {
    max-width: $max-content;
    padding: $content-padding;
    box-sizing: border-box;
    margin: 0 auto;
}

.is-from_project {
    .home-page {
        animation-name: fadeInLeft;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;

        .home-wrapper {
            opacity: 1;
            animation: none;
        }
    }

    .home-wrapper__text-content {

        .step-1,
        .step-2,
        .step-3,
        .step-4 {
            opacity: 1;
            animation: none;
        }
    }
}

.is-from_home {
    .project-page {
        animation-name: fadeInRight;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
    }
}

.leave-to_home,
.leave-to_project {
    pointer-events: none;
}


.leave-to_project {
    .home-page {
        animation-name: fadeOutLeft;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }
}

.leave-to_home {

    .project-page,
    .create-page {
        animation-name: fadeOutRight;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }
}