.project-page {
    .container {
        max-width: 740px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .publish-container {
        h1 {
            @extend .title-h1;
        }

        h2 {
            @extend .title-h2;
        }

        h3 {
            @extend .title-h3;
        }

        p {
            @extend .publish-text;

            // &:first-child:first-letter {
            //     font-size: 200%;
            //     @extend .publish-text-drop_cap;
            // }

        }

        .drop_cap {
            @extend .publish-text-drop_cap;
        }

        a {
            @extend .link;
            margin: unset !important;
            font-family: unset !important;
            letter-spacing: unset !important;
        }

        img {
            width: 100%;
        }

        p {
            @extend .publish-text;
        }
    }
}