a.button,
.button {
    font-family: $font-main;
    font-weight: 700;
    font-size: 1.8rem;
    margin: 4rem 0 2rem;
    min-width: 120px;
    max-width: 250px;
    width: auto;
    display: inline-block;
    padding: 0.6em 1em 0.4em;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    border: 3px solid;
    border-color: $color-blue;
    background: $color-white;
    color: $color-blue;
    overflow: hidden;
    transition: color 0.3s;
    text-decoration: none;
    cursor: pointer;

    * {
        text-decoration: none;
        color: inherit;
    }


    &:before,
    &:after {
        content: '';
        position: absolute;
        height: 102%;
        width: 100%;
        bottom: 100%;
        left: 0;
        z-index: -1;
        transition: transform 0.2s;
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }

    &:before {
        background: $color-blue;
    }

    &:after {
        background: $color-black;
    }

    &:hover {
        color: #fff;
        border-color: $color-black;

        &:before,
        &:after {
            transform: translate3d(0, 99%, 0);
        }

        &:after {
            -webkit-transition-delay: 0.175s;
            transition-delay: 0.175s;
        }
    }

    &:active {
        color: #fff;
        border-color: $color-blue;
        background: $color-blue;

        &:after {
            opacity: 0;
        }
    }
}