a.link,
.link {
    font-size: inherit;
    color: $color-blue;
    font-family: $font-main;
    font-weight: 700;
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin: 1rem 0;
    letter-spacing: 1px;
    outline: 0;
    transition: all 0.3s;

    &:after {
        content: '';
        outline: 0;
        position: absolute;
        top: 90%;
        left: 0;
        width: 100%;
        height: 2px;
        background: $color-yellow;
        opacity: 1;
        transition: opacity 0.3s, transform 0.3s;
        transform: translateY(0px);
    }

    &:hover,
    &:active {
        color: $color-yellow;

        &:after {
            opacity: 0;
            transform: translateY(4px);
        }
    }

    &.link--back {
        font-size: 1.8rem;
        color: $color-blue;
        text-transform: uppercase;

        &:after {
            content: none;
        }

        .icon {
            height: 12px;
            margin-right: 0;
            width: auto;
            display: inline-block;
            fill: $color-blue;
            opacity: 0.5;
            margin-right: 8px;
            transition: all 0.3s;
        }

        &:hover {
            color: $color-yellow;

            .icon {
                margin-right: 12px;
                opacity: 1;
                fill: $color-yellow;
            }
        }
    }
}