.title-h1 {
    font-family: $font-main;
    font-size: 5.2rem;
    font-weight: 700;
    color: $color-black;
    --x-height-multiplier: 0.342;
    --baseline-multiplier: 0.22;
    line-height: 1.15;
    letter-spacing: -.015em;
    margin: 2rem 0;
}

.title-h2 {
    font-family: $font-main;
    font-size: 4rem;
    font-weight: 700;
    --x-height-multiplier: 0.342;
    --baseline-multiplier: 0.22;
    line-height: 1.15;
    letter-spacing: -.015em;
    margin: 2rem 0;
}

.title-h3 {
    font-family: $font-main;
    font-size: 3.4rem;
    font-weight: 700;
    --x-height-multiplier: 0.342;
    --baseline-multiplier: 0.22;
    line-height: 1.15;
    letter-spacing: -.015em;
    margin: 2rem 0;
}

.title-caption {
    font-family: $font-main;
    font-size: 2.6rem;
    font-weight: 400;
    color: $color-blue;
    line-height: 1;
}